.footer
  background-color: #6E07F3
  text-align: center
  padding: 2.4rem 0
  .title
    color: #FFFFFF
    font-family: "poppins-bold", sans-serif
    font-size: clamp(1.6rem, 7.4vw, 6rem)
    line-height: clamp(1.6rem, 7.4vw, 6rem)
    font-weight: 900
    text-transform: uppercase
    padding: 0 clamp(1rem, 5vw, 5rem)
    letter-spacing: -2px
    margin: 0
    &.last
      margin-bottom: 2rem

  .phone
    text-decoration: none
    background-color: #5BE9B9
    padding: 14px 30px
    color: #141c3a
    border-radius: 30px
    text-transform: uppercase
    display: flex
    justify-content: center
    margin: 0 auto 2rem
    width: fit-content
    font-weight: 600
    transition: background-color 400ms
    &:hover
      background-color: #4dc69d
      transition: background-color 400ms

  .resume
    display: block
    text-transform: uppercase
    color: #FFFFFF
    font-size: 0.9rem
    margin-bottom: 5rem

  .links
    display: flex
    gap: 18px
    justify-content: center
    a
      background-color: transparent
      color: #ffffff
      border-radius: 100%
      margin: 0 0.2rem
      height: 47px
      width: 47px
      border: 2px solid rgba(255, 255, 255, 0.5)
      display: flex
      justify-content: center
      align-items: center
      transition: all 400ms
      &:hover
        background: #ffffff
        color: #6E07F3
        border: 2px solid white
        transition: all 400ms
      svg
        font-size: 1.25rem
