.section
  .container
    max-width: 1300px
    padding: 0 clamp(1rem, 4vw, 3rem)
    margin: 0 auto 8rem
    h2
      color: #141c3a
      font-family: "poppins-bold", sans-serif
      font-size: clamp(1.4rem, 6.2vw, 5rem)
      font-weight: 900
      text-transform: uppercase
      letter-spacing: -2px
      margin-bottom: 2rem
      text-align: center

    .grid_container
      display: grid
      grid-template-columns: repeat(auto-fit,minmax(290px,1fr))
      gap: clamp(1rem, 2vw, 24px)
