@font-face
  font-family: 'poppins'
  src: url('./lib/fonts/Poppins.ttf')

@font-face
  font-family: 'poppins-bold'
  src: url('./lib/fonts/Poppins-Bold.ttf')

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: "poppins", sans-serif

#root
  width: 100%